/* Header */
#preloader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10001;
    background:black;
}
#preloader div{
    position:relative;
    top:calc(50% - 25px);
}
.ball {
    background-color: rgba(0,0,0,0);
    border:5px solid rgba(0,183,229,0.9);
    opacity:.9;
    border-top:5px solid rgba(0,0,0,0);
    border-left:5px solid rgba(0,0,0,0);
    border-radius:50px;
    box-shadow: 0 0 35px #9fbedb;
    width:50px;
    height:50px;
    margin:0 auto;
    position: relative;
    top:30px;
    animation:spin .5s infinite linear;
}
@-moz-keyframes spin {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(360deg); }
}
@-moz-keyframes spinoff {
    0% { -moz-transform:rotate(0deg); }
    100% { -moz-transform:rotate(-360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(360deg); }
}
@-webkit-keyframes spinoff {
    0% { -webkit-transform:rotate(0deg); }
    100% { -webkit-transform:rotate(-360deg); }
}
.preloader{
    animation: fadeOut 3s linear;
}
.see_more{
    visibility: hidden;
    position: absolute;
    bottom:7.5rem;
    left:calc(50% - 90px);
    width: 180px;
    height: 60px;
    background:radial-gradient(100% 40%,rgba(13, 152, 66, 0.72),rgba(3, 57, 34, 0.8));
    border-radius: 25px;
    text-align: center;
    line-height: 60px;
    font-size:23px;
    transition: background 2s linear;
    box-shadow: 6px 6px 10px;
}
.see_more:hover{
    bottom:7.45rem;
    background:radial-gradient(100% 40%,rgba(6, 201, 118, 0.77),rgba(16, 95, 46, 0.82));
}
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.scroll_up{
    position: absolute;
    top:1.5rem;
    left:calc(50% - 60px);
    transition: background 1s linear;
    box-shadow: 6px 6px 10px;
    width: 120px;
    height: 60px;
    background: rgba(61, 229, 99, 0.39);
    border-radius: 20px;
}
.scroll_up:hover{
    top:1.55rem;
    background: rgba(20, 172, 54, 0.64);
}
.scroll_up div{
    margin:11px auto;
    width:0;
    height:0;
    border-bottom:35px solid rgba(15, 34, 22, 0.49);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}
.scroll_down{
    position: absolute;
    bottom:1.5rem;
    left:calc(50% - 60px);
    transition: background 1s linear;
    box-shadow: 6px 6px 10px;
    width: 120px;
    height: 60px;
    background: rgba(61, 229, 99, 0.39);
    border-radius: 20px;
}
.scroll_down:hover{
    bottom:1.45rem;
    background: rgba(20, 172, 54, 0.64);
}
.scroll_down div{
    margin:18px auto;
    width:0;
    height:0;
    border-top:35px solid rgba(15, 34, 22, 0.49);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
}
.section {
    position: relative;
}
.section:nth-child(1) {
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center center;
}

.main-title{
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-shadow: 6px 4px 4px rgba(0, 0, 0, 0.51);
    transition: all 0.4s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  66% {
    opacity: 0;
    }
  100% {
    opacity: 0;
  }
}
.main-title:hover{
    text-shadow: 7px 4px 4px rgba(0, 0, 0, 0.43);
}
.my-1 .main-title {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
}
.main-title .thin {
    font-weight: 400;
}
    /* 2nd page */
.section:nth-child(2){
    background-image: url(/images/2.jpg);
    background-size: cover;
    background-position: center center;
}
#about_me, #some_tasks{
    position: absolute;
    top:6.5rem;
    left:calc(50% - 250px);
    width: 500px;
    height: 150px;
    background-color: linear-gradient(black,aqua);
    text-align: center;
    border-radius: 30px;
    background: linear-gradient(to bottom, rgba(216, 235, 177, 0.87) 0%,rgba(101, 118, 65, 0.94) 100%);
    box-shadow: 10px 10px 10px black;
}
#about_me h2{
    margin-top: 8px;
}
#about_me p{
    padding: 0 20px;
    font-size: 18px;
}
.technologies-position{
    margin: -3em auto;
    position: relative;
    width: 700px;
}
.technologies{
    background: linear-gradient(to bottom, rgba(216, 235, 177, 0.87) 0%,rgba(101, 118, 65, 0.94) 100%);
    position: absolute;
    width: 700px;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 10px 10px 10px black, inset 2px 2px 5px black;
}
.technologies h3 {
    font-size: 1.5em;
    text-align: center;
}
.button{
    display: inline-block;
    margin:0 40px;
    width:150px;
    height: 150px;
    background:linear-gradient(to left, rgba(0, 0, 0, 0.59) 0%, rgba(255, 255, 255, 0.74) 100%);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 5px 3px 10px black;
}
.button:hover{
    background:linear-gradient(to left, rgba(0, 0, 0, 0.59) 5%, rgba(255, 255, 255, 0.74) 100%);
    box-shadow: 5px 5px 10px black;
}
.button h4{
    position: absolute;
    display: block;
    width: 150px;
    text-align: center;
    font-style: italic;
    font-size: 1.25em;
}
.button::after {
    content:'';
    width:150px;
    height: 150px;
    display: block;
    opacity: 0.7;
}
.html::after{
    background: url(http://defaulticon.com/images/icons32x32/edit.png?itok=nb2eY85A) center no-repeat;
}
.css::after{
    background: url(http://defaulticon.com/images/icons32x32/brush.png?itok=mH7v08mD) center no-repeat;
}
.js::after{
    background: url(http://defaulticon.com/images/icons32x32/science.png?itok=gP__Zwup) center no-repeat;
}
    /* 3th page */
.section:nth-child(3){
    background-image: url(/images/3.jpg);
    background-size: cover;
    background-position: center center;
}
/* 4th page */
.section:nth-child(4){
    background-image: url(/images/4.jpg);
    background-size: cover;
    background-position: center center;
}
@media only screen and (max-width: 768px) {
    .my-1 .main-title {
        font-size: 3em;
  }
}
@media only screen and(max-width:480px) and (orientation:landscape) {
    .see_more{
        visibility: hidden;
        position: absolute;
        bottom:4.5rem;
    }
    .see_more:hover{
        bottom:4.45rem;
    }

}